{% extends "admin/adm_dashboard.html" %}

{% block content %}
<h2>Manage Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Qualification</th>
            <th>Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.qualification }}</td>
            <td>{{ user.dob }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
